// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $font-family-sans-serif;
  height: 100%;
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.form-control-success:focus {
  border-color: $success-50 !important;
  box-shadow: 0 0 0 0.2rem $success-25 !important;
}

.form-control-secondary:focus {
  border-color: $secondary-50 !important;
  box-shadow: 0 0 0 0.2rem $secondary-25 !important;
}

.form-control-success {
  border-color: $green-gray-400 !important;
}

.form-control-secondary {
  border-color: $orange-gray-400 !important;
}

.txt-gradient-primary {
	background: linear-gradient(to bottom, $primary 0%, $primary-70 100%) !important;
}

.txt-gradient-success {
	background: linear-gradient(to bottom, $success 0%, $success-70 100%) !important;
}

.txt-gradient-secondary {
	background: linear-gradient(to bottom, $secondary 0%, $secondary-70 100%) !important;
}

.txt-gradient-kit {
  -webkit-background-clip: text !important;
  background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}